@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/movieTheater.png');
  background-size: auto 100%; /* S'adapte uniquement en hauteur */
  background-position: center top; /* Centre l'image verticalement */
  background-repeat: no-repeat;
  min-height: 100vh; /* Assurez-vous que le body a au moins la hauteur de la fenêtre d'affichage */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}